.footer {
  background-color: var(--negro);
  padding: 5rem 0;
  margin-top: 5rem;
}
.contenido nav a{
  color: var(--blanco);
  text-decoration: none;
  padding: .5rem;
  font-size: 2.8rem;
  font-weight: 700;
}
.contenido nav{
  display: flex;
  align-items: column;

  align-items: center;
}
@media (min-width: 768px) {
  .contenido{
    display: flex;
    justify-content: space-between;
    color: var(--blanco);
  }
}
.copyright{
  font-size: 2.8rem;
  color: var(--blanco);
  font-weight: 800;
  text-align: center;
}

.navegacion a{
  display: flex;
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem;
}@media (min-width: 768px) {
  .navegacion{
    flex-direction: row;
  }
}
.navegacion a:hover{
  background-color: var(--primary);
}
